*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
.navbutton-1:link, a:visited {
    width: 200px; 
    height: 44px; 
    position: absolute; 
    background: rgba(41.75, 11.44, 80.31, 0); 
    border-radius: 22px; 
    border: 4px #2A0B50 solid;
    color: #2A0B50; 
    font-size: 24px; 
    font-family: NotoSerifGujarati-Regular, sans-serif;
    font-weight: 400; 
    word-wrap: break-word;
    left: 47px; 
    padding-top: 3px; 
    top: 3px;
    position: absolute; 
    text-align: center;
    text-decoration: none;
}
.navbutton-1:hover, a:active {
    background-color: #2A0B50;
    color: white;
}
.navbutton-2:link, a:visited {
    width: 200px; 
    height: 44px; 
    position: absolute; 
    background: rgba(41.75, 11.44, 80.31, 0); 
    border-radius: 22px; 
    border: 4px #2A0B50 solid;
    color: #2A0B50; 
    font-size: 24px; 
    font-family: NotoSerifGujarati-Regular, sans-serif;
    font-weight: 400; 
    word-wrap: break-word;
    left: 65px; 
    padding-top: 3px;
    top: 2px; 
    position: absolute; 
    text-align: center;
    text-decoration: none;
}
.navbutton-2:hover, a:active {
    background-color: #2A0B50;
    color: white;
}
.navbutton-3:link, a:visited {
    width: 200px; 
    height: 44px; 
    position: absolute; 
    background: rgba(41.75, 11.44, 80.31, 0); 
    border-radius: 22px; 
    border: 4px #2A0B50 solid;
    color: #2A0B50; 
    font-size: 24px; 
    font-family: NotoSerifGujarati-Regular, sans-serif;
    font-weight: 400; 
    word-wrap: break-word;
    left: 53px; 
    padding-top: 3px;
    top: 3px;
    position: absolute; 
    text-align: center;
    text-decoration: none;
}
.navbutton-3:hover, a:active {
    background-color: #2A0B50;
    color: white;
}
.navbutton-4:link, a:visited {
    width: 200px; 
    height: 44px; 
    position: absolute; 
    background: rgba(41.75, 11.44, 80.31, 0); 
    border-radius: 22px; 
    border: 4px #2A0B50 solid;
    color: #2A0B50; 
    font-size: 24px; 
    font-family: NotoSerifGujarati-Regular, sans-serif;
    font-weight: 400; 
    word-wrap: break-word;
    left: 65px; 
    padding-top: 3px;
    top: 2px; 
    position: absolute; 
    text-align: center;
    text-decoration: none;
}
.navbutton-4:hover, a:active {
    background-color: #2A0B50;
    color: white;
}
.webtitle{
    width: 173px; 
    height: 44px; 
    left: 127px; 
    top: 5px; 
    position: absolute; 
    text-align: right;
}
.topline{
    width: 300px; 
    height: 0px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    border: 4px #2A0B50 solid;
}

.title-1{
    width: 1064px;
    height: 46px;
    top: 161px;

}
.body-1{
    width: 664.35px; 
    top: 25px; 
    position: absolute;
}
.body-2{
    width: 1140px; 
    left: 300px; 
    top: 530px; 
    position: absolute;
}
.title-2{
    width: 621px; 
    height: 47.44px; 
    left: 300px; 
    top: 28px; 
    position: absolute;
}
.aboutuspic-2{
    width: 820px;
    height: auto;
    position: absolute;
    left: 270px;
    top: 117px;
}
.aboutuspic-3{
    width: 415px;
    height: auto;
    position: absolute;
    left: 1050px;
    top: 117px;
}
.body-3{
    position: absolute;
    top: 530px;
    width: 1140px;
    text-indent: 70px;
    text-align: justify;
}
.body-3-span{
    color: #ffffff;
    font-family: NotoSerifGujarati-Regular, sans-serif;
    font-size: 20px;
}
.body-4{
    position: absolute;
    top: 630px;
    width: 1140px;
    text-indent: 70px;
    text-align: justify;
}
.bodylink:link{
    color: #ffffff;
    font-family: NotoSerifGujarati-Regular, sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-decoration: underline;
}
.bodylink:visited{
    color: #ffffff;
    font-family: NotoSerifGujarati-Regular, sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-decoration: underline;
}

.body-5{
    position: absolute;
    left: 300px;
    top: 1500px;
    width: 590px;
    height: 272px;
}
.aboutuspic-4{
    width: 560px;
    height: auto;
    position: absolute;
    left: 905px;
    top: 1488px;
}